In [1]:
# !pip install git+git://github.com/irshadbhat/indic-trans.git

In [2]:
# !pip uninstall googletrans

In [4]:
# !pip install googletrans==3.1.0a0

In [107]:
from indictrans import Transliterator
from googletrans import Translator

In [108]:
import numpy as np
import pandas as pd

In [137]:
df = pd.read_excel(r'C:\Users\siddh\OneDrive\Desktop\Minor Project\FinalEngDev_.xlsx')

In [138]:
df.head()

,Unnamed: 0,Unnamed: 0.1,0,1,2
0,0,0,facebook_corpus_msr_451811,फिर से बनाया की गुणवत्ता मुझे लगता है कि यह मछ...,CAG
1,1,1,facebook_corpus_msr_334368,@ शिव कैसी है माँ ??? उर पत्नी कैसी है ??? कैस...,NAG
2,2,2,facebook_corpus_msr_331195,यह भी देखें .... बुर्खा में पकड़े गए RSS कार्य...,NAG
3,3,3,facebook_corpus_msr_403402,LOC CROSS में 2 जवानों की मौत पर हमारे H'BLE H...,NAG
4,4,4,facebook_corpus_msr_379239,मोदी हो ये मनमोहन सिंह साला ये लॉग कुच्छ न कर्...,OAG

In [85]:
df.shape

(3001, 3)

In [87]:
df[2].value_counts()

NAG    1233
CAG    1057
OAG     711
Name: 2, dtype: int64

In [88]:
df.head(100)

,0,1,2
0,facebook_corpus_msr_451811,The quality of re made now makes me think it i...,CAG
1,facebook_corpus_msr_334368,@siva \nHow is ur mother???\nHow is ur wife???...,NAG
2,facebook_corpus_msr_331195,Also see ....hw ur RSS activist caught in Burk...,NAG
3,facebook_corpus_msr_403402,On the death of 2 jawans in LOC CROSS FIRING\n...,NAG
4,facebook_corpus_msr_379239,Modi ho ya Manmohan singh saala yeh log kuch n...,OAG
...,...,...,...
95,facebook_corpus_msr_443306,Don't mistake to judge any company ETHICAL bas...,CAG
96,facebook_corpus_msr_450594,The problem with opposition is that they don't...,CAG
97,facebook_corpus_msr_1956957,Always negative comments by Indian Express aga...,OAG
98,facebook_corpus_msr_2349542,"Hasan atif ,check ur Quran ,ibn ishag992,wht i...",CAG
99,facebook_corpus_msr_2018484,Mr. Rohit...Meera is a grt lady undoubtedly......,CAG

In [89]:
df[1] = df[1].str.strip()

In [90]:
df = df.replace('\n',' ', regex=True)

In [92]:
# df.to_csv('eng_dev.csv')

In [93]:
file1 = open(r'C:\Users\siddh\OneDrive\Desktop\Minor Project\eng_dev.txt', 'r',encoding="utf8")
Lines = file1.readlines()
rows = []
for line in Lines:
    rows.append(line)
print(rows[2])

यह भी देखें .... बुर्खा में पकड़े गए RSS कार्यकर्ता बुर्खा-क्लैड-आरएसएस-एक्टिविस्ट-पकड़ा-फेंक-बीफ-ए-मंदिर-चित्र-गो-वायरल-ऑन-फेसबुक -593154 / amp /

In [94]:
df2 = pd.DataFrame(rows,columns=['data'])

In [95]:
df2['data'][122]

'America jaise big country 40 कैशलेस है और जो विकसित देश था। लेकिन हमारा भारत विकसित हो रहा है और मोदी जी कैशलेस हैगा बनाते हैं क्या यह संभव है !!!!\n'

In [96]:
df2 = df2.replace('\n',' ', regex=True)

In [97]:
df2.head(100)

                                                 data
0   फिर से बनाया की गुणवत्ता मुझे लगता है कि यह मछ...
1   @ शिव कैसी है माँ ??? उर पत्नी कैसी है ??? कैस...
2   यह भी देखें .... बुर्खा में पकड़े गए RSS कार्य...
3   LOC CROSS में 2 जवानों की मौत पर हमारे H'BLE H...
4   मोदी हो ये मनमोहन सिंह साला ये लॉग कुच्छ न कर्...
..                                                ...
95  मीडिया रिपोर्ट के आधार पर किसी भी कंपनी ETHICA...
96  विरोध के साथ समस्या यह है कि वे कुछ भी नहीं कर...
97  हमेशा इंडियन एक्सप्रेस द्वारा बीजेपी के खिलाफ ...
98  हसन आतिफ, उर कुरान की जाँच करें, ibn ishag992,...
99  मिस्टर रोहित ... मीरा निस्संदेह एक जीआरटी महिल...

[100 rows x 1 columns]

In [98]:
df[1] = df2['data']

In [99]:
df.head(100)

,0,1,2
0,facebook_corpus_msr_451811,फिर से बनाया की गुणवत्ता मुझे लगता है कि यह मछ...,CAG
1,facebook_corpus_msr_334368,@ शिव कैसी है माँ ??? उर पत्नी कैसी है ??? कैस...,NAG
2,facebook_corpus_msr_331195,यह भी देखें .... बुर्खा में पकड़े गए RSS कार्य...,NAG
3,facebook_corpus_msr_403402,LOC CROSS में 2 जवानों की मौत पर हमारे H'BLE H...,NAG
4,facebook_corpus_msr_379239,मोदी हो ये मनमोहन सिंह साला ये लॉग कुच्छ न कर्...,OAG
...,...,...,...
95,facebook_corpus_msr_443306,मीडिया रिपोर्ट के आधार पर किसी भी कंपनी ETHICA...,CAG
96,facebook_corpus_msr_450594,विरोध के साथ समस्या यह है कि वे कुछ भी नहीं कर...,CAG
97,facebook_corpus_msr_1956957,हमेशा इंडियन एक्सप्रेस द्वारा बीजेपी के खिलाफ ...,OAG
98,facebook_corpus_msr_2349542,"हसन आतिफ, उर कुरान की जाँच करें, ibn ishag992,...",CAG
99,facebook_corpus_msr_2018484,मिस्टर रोहित ... मीरा निस्संदेह एक जीआरटी महिल...,CAG

In [139]:
df2 = pd.read_csv(r'C:\Users\siddh\OneDrive\Desktop\Minor Project\final_hi_dev.csv')

In [140]:
df2.head()

,Unnamed: 0,0,1,2
0,0,facebook_corpus_msr_333008,RANDTV तूम्हारे नजायज बाप है एरिया है का वहा क...,OAG
1,1,facebook_corpus_msr_690306,पहिली अवस्था बराबर दु जूटे खाये ग्रोवर से,OAG
2,2,facebook_corpus_msr_382520,Salman aur aamir ki kounsi movie release huyee...,OAG
3,3,facebook_corpus_msr_401748,Wk aur bhakt आ गया। अबे अमरीकंस का बोलना h ki ...,CAG
4,4,facebook_corpus_msr_656339,बीटा टू तू अप्प बाप का है ... तूं मँग वो लया अ...,NAG

In [142]:
df2.to_excel('FinalHiDev.xlsx')