In [1]:
# !pip install git+git://github.com/irshadbhat/indic-trans.git

In [2]:
# !pip uninstall googletrans

In [4]:
# !pip install googletrans==3.1.0a0

In [62]:
from indictrans import Transliterator
from googletrans import Translator

In [63]:
import numpy as np
import pandas as pd

In [64]:
df = pd.read_csv(r'C:\Users\siddh\OneDrive\Desktop\Minor Project\Aggression annotated Corpus of Hinglish\hindi_train.tar\hindi_train\hindi\agr_hi_dev.csv', header = None)

In [65]:
df.head()

,0,1,2
0,facebook_corpus_msr_333008,RANDTV tumhare najayaz baap is area hai ki wah...,OAG
1,facebook_corpus_msr_690306,First stage par dus jootey khaye Grover se,OAG
2,facebook_corpus_msr_382520,Salman aur aamir ki kounsi movie release huyee...,OAG
3,facebook_corpus_msr_401748,Wk aur bhakt aa gya. Abe americans ka bolna h...,CAG
4,facebook_corpus_msr_656339,Beta to tu apne baap ka hai ...permission to t...,NAG

In [66]:
df.shape

(3001, 3)

In [67]:
df[2].value_counts()

CAG    1246
OAG    1217
NAG     538
Name: 2, dtype: int64

In [68]:
df.head(100)

,0,1,2
0,facebook_corpus_msr_333008,RANDTV tumhare najayaz baap is area hai ki wah...,OAG
1,facebook_corpus_msr_690306,First stage par dus jootey khaye Grover se,OAG
2,facebook_corpus_msr_382520,Salman aur aamir ki kounsi movie release huyee...,OAG
3,facebook_corpus_msr_401748,Wk aur bhakt aa gya. Abe americans ka bolna h...,CAG
4,facebook_corpus_msr_656339,Beta to tu apne baap ka hai ...permission to t...,NAG
...,...,...,...
95,facebook_corpus_msr_337385,Is samay bjp k khilaf khari kisi v party me du...,CAG
96,facebook_corpus_msr_349965,Ara dikhaye gha modi ji apna 56inch ka seena a...,CAG
97,facebook_corpus_msr_956399,Bilkul sahi sir g,NAG
98,facebook_corpus_msr_1561856,Kya madam ? Aap ke pita ke saman hain wo vidha...,NAG
99,facebook_corpus_msr_335112,arendra singh तुम सिर्फ हिन्दू मुस्लिम ...,CAG

In [69]:
df[1] = df[1].str.strip()

In [70]:
df = df.replace('\n',' ', regex=True)

In [78]:
# df.to_csv('hi_dev.csv')

In [71]:
file1 = open(r'C:\Users\siddh\OneDrive\Desktop\Minor Project\hi_dev.txt', 'r',encoding="utf8")
Lines = file1.readlines()
rows = []
for line in Lines:
    rows.append(line)
print(rows[2])

Salman aur aamir ki kounsi movie release huyee jo aandhi me dub gaye ?? ? बीकाऊ चटुकर मीडिया।

In [72]:
df2 = pd.DataFrame(rows,columns=['data'])

In [73]:
df2['data'][122]

'jaise ki Bhartiya Janta Party ka sankalp tha ……।\n'

In [74]:
df2 = df2.replace('\n',' ', regex=True)

In [75]:
df2.head(100)

                                                 data
0   RANDTV तूम्हारे नजायज बाप है एरिया है का वहा क...
1          पहिली अवस्था बराबर दु जूटे खाये ग्रोवर से
2   Salman aur aamir ki kounsi movie release huyee...
3   Wk aur bhakt आ गया। अबे अमरीकंस का बोलना h ki ...
4   बीटा टू तू अप्प बाप का है ... तूं मँग वो लया अ...
..                                                ...
95  क्या समए bjp k khilaf khari kisi v पार्टी मुझे...
96  आरा दीखाय ग मोदी जी अपना 56 इंच का सीना एगले च...
97                                 बिलकुल साही सर जी
98  क्या मैडम? Aap ke pita ke saman hain wo vidhay...
99  arendra singh çed¸२ç®®® à¤ • ° प्रकाशन ¹à ¹ € ...

[100 rows x 1 columns]

In [76]:
df[1] = df2['data']

In [77]:
df.head(100)

,0,1,2
0,facebook_corpus_msr_333008,RANDTV तूम्हारे नजायज बाप है एरिया है का वहा क...,OAG
1,facebook_corpus_msr_690306,पहिली अवस्था बराबर दु जूटे खाये ग्रोवर से,OAG
2,facebook_corpus_msr_382520,Salman aur aamir ki kounsi movie release huyee...,OAG
3,facebook_corpus_msr_401748,Wk aur bhakt आ गया। अबे अमरीकंस का बोलना h ki ...,CAG
4,facebook_corpus_msr_656339,बीटा टू तू अप्प बाप का है ... तूं मँग वो लया अ...,NAG
...,...,...,...
95,facebook_corpus_msr_337385,क्या समए bjp k khilaf khari kisi v पार्टी मुझे...,CAG
96,facebook_corpus_msr_349965,आरा दीखाय ग मोदी जी अपना 56 इंच का सीना एगले च...,CAG
97,facebook_corpus_msr_956399,बिलकुल साही सर जी,NAG
98,facebook_corpus_msr_1561856,क्या मैडम? Aap ke pita ke saman hain wo vidhay...,NAG
99,facebook_corpus_msr_335112,arendra singh çed¸२ç®®® à¤ • ° प्रकाशन ¹à ¹ € ...,CAG

In [79]:
df.to_csv('final_hi_dev.csv')