In [58]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv(r'C:\Users\\siddh\OneDrive\Desktop\Minor Project\Mind Your Language dataset\labeled_data.csv')

Non Offensive - 2 <br>
Offensive - 1 <br>
hate speech - 0

In [57]:
df.loc[df['class'] == 0].iloc[12].tweet

'"Don\'t worry about the nigga you see, worry about the nigga you DON\'T see... Dat\'s da nigga fuckin yo bitch."'

In [20]:
df

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [61]:
df2 = pd.read_csv(r'C:\Users\\siddh\OneDrive\Desktop\Minor Project\Mind Your Language dataset\data.csv')

In [62]:
df2.head(5)

,Text,Date,Favorites,Retweets,Tweet ID
0,Nielson Media Research final numbers on ACCEPT...,2016-07-30 23:32:40,13850,4130,759592590106849280
1,Thank you to all of the television viewers tha...,2016-07-30 19:00:07,27659,6842,759524001613918208
2,Can you imagine if I had the small crowds that...,2016-07-30 18:28:22,19968,6488,759516008272932864
3,NATO commander agrees members should pay up vi...,2016-07-30 18:24:40,11624,4668,759515080010719232
4,"Wow, NATO's top commander just announced that ...",2016-07-30 18:18:58,23922,7819,759513644258525184

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [47]:
df['class'].unique()

array([2, 1, 0], dtype=int64)